In [88]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [89]:
data = pd.read_csv('dataset_baru.csv')
data.head()

,Unnamed: 0,gender,umur,tensi,riwayat jantung,tempat tinggal,gula darah,berat badan,stroke,tipe kerja_Govt_job,tipe kerja_Never_worked,tipe kerja_Private,tipe kerja_Self-employed,tipe kerja_children
0,0,1,67.0,0,1,1,228.69,36.600000,1,0,0,1,0,0
1,1,0,61.0,0,0,0,202.21,28.891511,1,0,0,0,1,0
2,2,1,80.0,0,1,0,105.92,32.500000,1,0,0,1,0,0
3,3,0,49.0,0,0,1,171.23,34.400000,1,0,0,1,0,0
4,4,0,79.0,1,0,0,174.12,24.000000,1,0,0,0,1,0

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5109 entries, 0 to 5108
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                5109 non-null   int64
 1   gender                    5109 non-null   int64
 2   umur                      5109 non-null   float64
 3   tensi                     5109 non-null   int64
 4   riwayat jantung           5109 non-null   int64
 5   tempat tinggal            5109 non-null   int64
 6   gula darah                5109 non-null   float64
 7   berat badan               5109 non-null   float64
 8   stroke                    5109 non-null   int64
 9   tipe kerja_Govt_job       5109 non-null   int64
 10  tipe kerja_Never_worked   5109 non-null   int64
 11  tipe kerja_Private        5109 non-null   int64
 12  tipe kerja_Self-employed  5109 non-null   int64
 13  tipe kerja_children       5109 non-null   int64
dtypes: float64(3), int64(11)
memory usage: 558.9 KB

In [91]:
data = data.drop('Unnamed: 0', axis=1)
data.head()

,gender,umur,tensi,riwayat jantung,tempat tinggal,gula darah,berat badan,stroke,tipe kerja_Govt_job,tipe kerja_Never_worked,tipe kerja_Private,tipe kerja_Self-employed,tipe kerja_children
0,1,67.0,0,1,1,228.69,36.600000,1,0,0,1,0,0
1,0,61.0,0,0,0,202.21,28.891511,1,0,0,0,1,0
2,1,80.0,0,1,0,105.92,32.500000,1,0,0,1,0,0
3,0,49.0,0,0,1,171.23,34.400000,1,0,0,1,0,0
4,0,79.0,1,0,0,174.12,24.000000,1,0,0,0,1,0

In [92]:
x = data.drop('stroke', axis=1)
y = data['stroke']

In [93]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [94]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [95]:
y_pred = gnb.predict(x_test)

In [96]:
from sklearn import metrics

akurasi = metrics.accuracy_score(y_test, y_pred) * 100

print("Tingkat akurasi Gaussian NB : ", akurasi, "%")

Tingkat akurasi Gaussian NB :  57.599478147423355 %

In [97]:
y_pred

array([0, 0, 1, ..., 0, 1, 1], dtype=int64)

In [98]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.56      0.71      1444
           1       0.11      0.90      0.20        89

    accuracy                           0.58      1533
   macro avg       0.55      0.73      0.45      1533
weighted avg       0.94      0.58      0.68      1533