### Import Package

In [1]:
import pandas as pd
import numpy as np 
import sklearn as sk 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, plot_confusion_matrix

### Dataset yang digunakan

In [2]:
data = pd.read_csv("PrediksiHargaRumah.csv")
data.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,12500.0
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

### Dataset yang digunakan telah bersih (Tidak ada data Null & Duplikat)

In [20]:
data.isna().sum()

Area           0
BHK            0
Bathroom       0
Furnishing     0
Locality       0
Parking        0
Price          0
Status         0
Transaction    0
Type           0
Per_Sqft       0
dtype: int64

In [21]:
data.duplicated().sum()

0

### Mengubah nama atribut

In [ ]:
data = data.rename(columns={'':'','':'','':'','':'',
                            '':'','':'','':'','':'',
                            '':'','':'','':''})

### Split Data

In [ ]:
x = data['']
y = data['']

### Algoritma yang digunakan
#### 1. K-Nearest Neighbors (KNN)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

#### 2. Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.model_selection import GridSearchCV

params = {'max_depth':[2, 4, 5, 6, 7]}
grid = GridSearchCV(dt, params, cv=10, scoring='accuracy')
grid.fit(x_train, y_train)

In [ ]:
print(grid.best_params_)

In [ ]:
dt = DecisionTreeClassifier(max_depth=)

In [ ]:
from sklearn import tree

tree.plot_tree(dt)
plt.show()

### Visualisasi untuk Regression